/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@theme {
    --color-primary: #dbbde0;
    --color-sepia-bg: #ffdbb7;
    --color-sepia-secondary: #ffce9d;
    --color-sepia-accent: #e1aa74;
}
